*~
*.pdf
*.root
*.png
*.gif
*.pyc
*.doc
*.log
*.tar.gz
*.zip
#*#
build_ntupleCommon/
build_ttH/
install/
config.txt
selectionList.txt
output_*/
Particles/
InitData/Particle
PSO/Particle
*_C.d
*_C.so
*_C_ACLiC_dict_rdict.pcm
tmp.txt
